/*Fonts*/
@import url('poppins.css');


/* My Styles */
body{
    background:rgb(0, 0, 0);
    color: black;
    border: solid rgb(9, 186, 27) 2px;
    border-radius: 20px;
    margin: 2px;
    
}
h1{
    font-family: 'Poppins-Bold';
    color: white;
    text-align: center;
}
p{
    font-family: 'Poppins-Regular';
    color:white;
    text-align: center;
}
.myimage{
    width: clamp(calc(20ch - 3rem), 75%, 70ch);
    margin: auto;
    border-radius: 20px;
    display:flex;
    border: 2px solid rgb(9, 186, 27);
    padding: 2px;
    
  
    
    
  }
  

    

.wrapper {
    margin: 0 auto;
    width: clamp(calc(30ch - 3rem), 75%, 70ch);
    height: calc(75vh - 2.5rem);
    border: 0.5rem solid black;
    display: flex;
    align-items: center;